body {
  background-image: url(../images/black.png);
  margin: 0;
  text-align: center; }

.navbar {
  height: 40px;
  background-color: transparent; }

.navbar ul {
  margin: 0;
  padding: 0; }

.navbar ul li {
  list-style: none; }

.navbar ul li a {
  text-decoration: none;
  float: left;
  padding: 10px 20px;
  color: white;
  font-size: 25px; }

.navbar ul li a:hover {
  color: #ff028e; }

.sc {
    float: right;
    padding: 4px;
}

.sc:hover {
    opacity: 0.5
}

.cont {
  color: white;
  font-family: 'Bitter', serif; }

a {
  color: #ff028e; }

a:hover {
  color: white; }

h3 {
  margin: 0;
  font-size: 30px;
  font-family: 'Denk One', sans-serif; }

h5 {
  color: white; }

p {
  font-size: 20px;
  margin: 4px; }

.copyright {
  text-align: center;
  list-style: none;
  text-decoration: none;
  color: white; }

.copyright:hover {
  color: #ff028e; }

@media only screen and (max-width: 768px) {
  /* For mobile phones: */ }